/*
    MMC150 Assignment 8
    Event handling style support
*/

body {
    font-family: sans-serif;
    margin: 50px;
}

main {
    display: block;
}

h2 {
    background-color: rgb(206, 212, 244);
}

#masterdiv {
    margin: auto;
    width: 50%;
    border: black thin solid;
    padding: 50px;
    text-align: center;
    font-size: 24px; 
}

#buttons {
    margin: auto;
    width: 50%;
    padding: 25px;
    text-align: center;
}

#button1,
#button2,
#button3 {
    width: 100px;
}

.redish {
    background-color: lightcoral;
}

.greenish {
    background-color: greenyellow;
}

.blueish {
    background-color: lightblue;
}